<script>
  window.resourceImages = {
    spriteSources: {
      darkElemental: '<%= image_url("sprites/darkElemental.png") %>',
      fireElemental: '<%= image_url("sprites/fireElemental.png") %>',
      earthElemental: '<%= image_url('sprites/earthElemental.png') %>',
      waterElemental: "<%= image_url('sprites/waterElemental.png') %>",
      stormElemental: "<%= image_url('sprites/stormElemental.png') %>"
    },

    iconSources: {
      settlement: "<%= image_url('icons/castle.png') %>"
    },

    tileSources: {
      forest: '<%= image_url("tiles/forest.png") %>',
      grass: '<%= image_url("tiles/grass.png") %>',
      snow: '<%= image_url("tiles/snow.png") %>',
      jungle: '<%= image_url("tiles/jungle.png") %>',
      mountain: '<%= image_url("tiles/mountain.png") %>',
      plains: '<%= image_url("tiles/plains.png") %>',
      swamp: '<%= image_url("tiles/swamp.png") %>',
      tundra: '<%= image_url("tiles/tundra.png") %>',
      water: '<%= image_url("tiles/water.png") %>',
      desert: '<%= image_url("tiles/desert.png") %>'
    }
  }
</script>
<div id="app">app not loaded</div>
