<script>
  window.resourceImages = {
    spriteSources: {
      darkElemental: '<%= image_url("sprites/darkElemental.png") %>',
      fireElemental: '<%= image_url("sprites/fireElemental.png") %>',
      earthElemental: '<%= image_url('sprites/earthElemental.png') %>',
      waterElemental: "<%= image_url('sprites/waterElemental.png') %>",
      stormElemental: "<%= image_url('sprites/stormElemental.png') %>"
    },

    iconSources: {
      settlement: "<%= image_url('icons/castle.png') %>"
    }
  }
</script>
<div id="app">app not loaded</div>
